.chat {
  flex: 1;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;

  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 18px;
          font-weight: bold;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          color: #a5a5a5;
        }
      }
    }

    .more-options {
      cursor: pointer;
      img {
        width: 25px;
        margin-right: 10px;
        height: 25px;
      }
    }
  }

  .options-popup {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(53, 49, 149, 0.589);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      background-color: #120990c0;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #791b26;
      }
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    overflow: scroll;
    display: flex;
    flex-direction:column;
    gap: 8px;

    .message {
      align-self: flex-start;
      max-width: 80%;
      display: flex;
      gap: 10px;

      &.own {
        align-self: flex-end;
        .texts {
          p {
            background-color: #3e30ab9f;
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 50px;
        color: white;
        width: 80%;
        img {
          height: 80%;
          border-radius: 18px;
          object-fit: cover;
        }

        p {
          padding: 20px;
          background-color: #15132bba;
          border-radius: 12px;
          font-family: system-ui;
        }
        span {
          font-size: 13px;
        }
      }
    }
  }

  .bottom {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #dddddd35;
    gap: 10px;

    img {
      width: 2.5vh;
      height: 2.5vh;
      cursor: pointer;
    }

    input {
      margin-left: 10px; 
      flex-grow: 1;
      background-color: #1f194bb1;
      border: none;
      outline: none;
      color: white;
      padding: 10px;
      border-radius: 12px;
      font-size: 14px;
      min-width: 0;
      max-width: 80%;
      &:disabled {
        cursor: not-allowed;
      }
    }

    .emoji-container {
      position: relative;
    }

    .emoji-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    .emoji-picker {
      position: absolute;
      bottom: 50px;
      right: 0;
      background-color: rgba(59, 36, 141, 0.639);
      border-radius: 16px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .sendButton {
      background-color: #120990c0;
      color: white;
      padding: 10px 20px;
      border: none;
      margin: auto 10px auto 0;
      border-radius: 20px;
      cursor: pointer;
      width: auto;

      &:disabled {
        background-color: #6551fe3d;
        cursor: not-allowed;
      }
    }
  }
}
